/*|=============== OUT-OF-THE-BOX CSS SOLUTIONS ===============|*/
/*|CM| Used to hide elements without breaking accessibility */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}


/*|=============== STYLING THE BASIC ELEMENTS AND MIXES ===============|*/
/*|CM| Elements like body, svg, path, etc. are usually found here. */
.body {
  font-family: var(--primary-font-family);
  font-size: var(--text-size-base);
  background-color: var(--eleventh-color);
}

.container,
.header-container,
.footer-container {
  margin: 0 auto;
}

.container {
  max-width: 1310px;
}

.header-container {
  max-width: 1376px;
}

.footer-container {
  max-width: 1408px;
}

.btn {
  font-weight: var(--primary-font-weight);
  color: var(--primary-color);
  background-color: var(--fifth-color);
  box-shadow: 0 1px 1px var(--thirteenth-color);
  transition: background-color var(--normal-transition-duration) ease-in-out;
}

.title {
  font-size: var(--text-size-max-small);
  font-weight: var(--primary-font-weight);
  color: var(--primary-color);
  line-height: var(--seventh-lh);
  text-align: center;
}

/*|EV| Describing CSS effects (such as - hover, active, focus)  */
.btn:hover {
  background-color: var(--white-color);
}

/*|=============== STYLING THE MAIN ELEMENTS ===============|*/
/*|CM| This is usually where the header, section, and footer styles are located */
/*|=============== SITE HEADER ===============|*/
.site-header_indent {
  margin-bottom: 2rem;
}

.site-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}

.site-header__nav {
  width: min(100%, 613px);
}

.site-header__list {
  display: flex;
  justify-content: space-between;
}

.site-header__link {
  display: inline-block;
  color: var(--second-color);
  line-height: var(--primary-lh);
  transition: color var(--normal-transition-duration) ease-in-out;
}

.site-header__link_hiring {
  position: relative;
}

.site-header__link_hiring::after {
  content: "*";
  position: absolute;
  top: -8px;
  right: -11px;
  font-size: var(--text-size-min-huge);
  color: var(--fourteenth-color);
}

.site-header__btn {
  min-width: 80px;
  min-height: 32px;
  padding: .375rem 1.375rem;
  font-size: var(--text-size-small);
  line-height: var(--seventh-lh);
  color: var(--fourth-color);
  border-radius: var(--primary-br);
  background-color: var(--primary-color);
  transition-property: color, background-color;
  transition-duration: var(--normal-transition-duration);
  transition-timing-function: ease-in-out;
}

/*|EV| Describing CSS effects (such as - hover, active, focus)  */
.site-header__link:hover {
  color: var(--primary-color);
}

.site-header__btn:hover {
  color: var(--primary-color);
  background-color: var(--white-color);
}

/*|=============== SECTION | HERO ===============|*/
.section-hero_indent {
  margin-bottom: 1.125rem;
}

.section-hero__container {
  min-height: 1262px;
  padding-top: 8.0625rem;
  background: url("../images/hero/hero_picture.jpg") right 20px no-repeat;
}

.section-hero__title {
  margin-bottom: 2.4375rem;
  font-size: var(--text-size-max-medium);
  font-weight: var(--primary-font-weight);
  line-height: var(--third-lh);
}

.section-hero__desc {
  max-width: 460px;
  margin-bottom: 3rem;
  font-size: var(--text-size-large);
  line-height: var(--fourth-lh);
  color: var(--second-color);
}

.section-hero__box {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.box-hero__btn {
  min-width: 160px;
  min-height: 46px;
  margin-right: 1.5rem;
  padding: .6875rem 2.875rem .75rem 2.875rem;
  font-size: var(--text-size-medium);
  line-height: var(--fifth-lh);
  border-radius: var(--third-br);
}

.box-hero__text {
  color: var(--second-color);
  line-height: var(--primary-lh);
}

.section-hero__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 160px;
  margin-bottom: 19.0625rem;
  padding: 0 .5rem;
}

.section-hero__link {
  display: inline-block;
  width: 29px;
  min-height: 29px;
  transition: opacity var(--normal-transition-duration) ease-in-out;
}

.section-hero__link_gl {
  background: url("../images/hero/gitlab_logo.svg") 0 0 no-repeat;
}

.section-hero__link_gh {
  background: url("../images/hero/github_logo.svg") 0 0 no-repeat;
}

.section-hero__link_bb {
  background: url("../images/hero/bitbucket_logo.svg") 0 0 no-repeat;
}

.section-hero__slogan {
  max-width: 1083px;
  margin: 0 auto;
  font-size: var(--text-size-max-small);
  line-height: var(--sixth-lh);
  text-align: center;
}

.slogan-hero__action {
  font-weight: var(--primary-font-weight);
}

.slogan-hero__line {
  text-decoration: line-through;
  color: var(--sixth-color);
}

/*|EV| Describing CSS effects (such as - hover, active, focus)  */
.section-hero__link:hover {
  opacity: .5;
}

/*|=============== SECTION | DEVELOPMENT ===============|*/
.section-development_indent {
  margin-bottom: 11.0625rem;
}

.section-development__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 792px;
}

.section-development__left {
  max-width: 655px;
}

.left-development__title {
  margin-bottom: .5rem;
  font-size: var(--text-size-max-tiny);
  font-weight: var(--primary-font-weight);
  line-height: var(--fifth-lh);
  color: var(--primary-color);
}

.left-development__desc {
  margin-bottom: 9.6875rem;
  font-size: var(--text-size-huge);
  line-height: var(--seventh-lh);
  color: var(--second-color);
}

.left-development__more {
  min-width: 162px;
  min-height: 32px;
  margin-right: 1rem;
  padding: .4375rem 1.5rem;
  font-size: var(--text-size-small);
  border-radius: var(--second-br);
}

.left-development__docs {
  min-width: 146px;
  min-height: 32px;
  padding: .4375rem 1.5rem;
  font-size: var(--text-size-small);
  font-weight: var(--primary-font-weight);
  border-radius: var(--second-br);
  background-color: var(--seventh-color);
  transition: background-color var(--normal-transition-duration) ease-in-out;
}

/*|EV| Describing CSS effects (such as - hover, active, focus)  */
.left-development__docs:hover {
  background-color: var(--white-color);
}

/*|=============== SECTION | REMOTE ===============|*/
.section-remote_indent {
  margin-bottom: 11.1875rem;
}

.section-remote__container {
  min-height: 1207px;
}

.section-remote__title {
  margin-bottom: 1.625rem;
}

.section-remote__picture {
  margin-bottom: 1.5rem;
}

.section-remote__desc {
  max-width: 877px;
  margin: 0 auto 3rem;
  font-size: var(--text-size-huge);
  line-height: var(--seventh-lh);
  color: var(--second-color);
  text-align: center;
}

.section-remote__box {
  text-align: center;
  font-size: 0;
}

.section-remote__extension {
  position: relative;
  display: inline-block;
  min-height: 47px;
  padding: .4375rem .75rem .4375rem 2.875rem;
  font-size: var(--text-size-medium);
  font-weight: var(--primary-font-weight);
  line-height: var(--tenth-lh);
  border-radius: var(--fourth-br);
  background-color: var(--white-color);
  background-position: 12px 11px;
  background-repeat: no-repeat;
  box-shadow: 0 .5px 2px var(--thirteenth-color);
  transition: background-color var(--normal-transition-duration) ease-in-out;
}

.section-remote__extension_chrome {
  min-width: 207px;
  margin-right: 1rem;
  background-image: url("../images/remote/chrome_logo.svg");
}

.section-remote__extension_firefox {
  min-width: 199px;
  background-image: url("../images/remote/firefox_logo.svg");
}

.section-remote__extension::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  border: 1px solid var(--black-color);
  z-index: -1;
}

/*|EV| Describing CSS effects (such as - hover, active, focus)  */
.section-remote__extension:hover {
  background-color: var(--tenth-color);
}

/*|=============== SECTION | TESTIMONIALS  ===============|*/
.section-testimonials_indent {
  margin-bottom: 11.125rem;
}

.section-testimonials__container {
  min-height: 669px;
}

.section-testimonials__title {
  margin-bottom: 3.0625rem;
  line-height: var(--sixth-lh);
}

.section-testimonials__swiper {
  margin-bottom: 6.75rem;
  min-height: 272px;
}

.glide__slide {
  min-height: 248px;
  padding: 1.5rem;
  border-radius: var(--third-br);
  background-color: var(--white-color);
}

.slide-glide__text {
  margin-bottom: 1rem;
  line-height: var(--primary-lh);
  color: var(--primary-color);
}

.slide-glide__text_indent {
  margin-bottom: .5rem;
}

.slide-glide__user {
  display: flex;
}

.user-glide__picture {
  margin-right: .75rem;
}

.right-glide__name {
  display: block;
  margin-bottom: .5rem;
  line-height: var(--primary-lh);
  color: var(--primary-color);
}

.right-glide__position {
  margin-right: .25rem;
}

.right-glide__position,
.right-glide__company {
  line-height: var(--primary-lh);
}

.right-glide__company {
  font-weight: var(--primary-font-weight);
}

.company-glide__union {
  font-weight: initial;
}

.section-testimonials__list {
  display: grid;
  grid-template: repeat(2, minmax(67px, auto)) / repeat(7, 1fr);
  row-gap: 24px;
  place-items: center;
}

.section-testimonials__item_oa {
  grid-column: 2 / 3;
}

.section-testimonials__item_it {
  grid-column: 3 / 4;
}

.section-testimonials__item_th {
  grid-column: 4 / 5;
}

.section-testimonials__item_ci {
  grid-column: 5 / 6;
}

.section-testimonials__item_ad {
  grid-column: 6 / 7;
}

.section-testimonials__link {
  transition: opacity var(--normal-transition-duration) ease-in-out;
}

/*|EV| Describing CSS effects (such as - hover, active, focus)  */
.section-testimonials__link:hover {
  opacity: .5;
}

/*|=============== SECTION | START ===============|*/
.section-start_indent {
  margin-bottom: 10rem;
}

.section-start__container {
  min-height: 770px;
}

.section-start__title {
  margin-bottom: 3rem;
}

.section-start__inner {
  display: flex;
  justify-content: space-between;
}

.section-start__left,
.section-start__right {
  width: min(100%, 642px);
  min-height: 651px;
  padding: 3.5rem 3.5rem 5.375rem;
  border-radius: var(--fifth-br);
  background-color: var(--white-color);
}

.left-start__title,
.right-start__title {
  margin-bottom: .5rem;
  font-size: var(--text-size-max-tiny);
  font-weight: var(--primary-font-weight);
  line-height: var(--fifth-lh);
  text-align: center;
  color: var(--primary-color);
}

.left-start__desc {
  margin-bottom: 3.875rem;
  font-size: var(--text-size-huge);
  line-height: var(--seventh-lh);
}

.left-start__desc,
.right-start__desc {
  text-align: center;
  color: var(--second-color);
}

.right-start__desc {
  margin-bottom: 2rem;
  font-size: var(--text-size-large);
  line-height: var(--fourth-lh);
}

.left-start__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.left-start__item:not(:last-child) {
  margin-bottom: 1rem;
}

.left-start__link {
  display: inline-block;
  min-width: 262px;
  min-height: 46px;
  padding: .875rem 2rem 1rem 4.8125rem;
  font-size: var(--text-size-small);
  font-weight: var(--primary-font-weight);
  color: var(--white-color);
  line-height: var(--eighth-lh);
  border-radius: var(--primary-br);
  box-shadow: 0 1px 1px var(--thirteenth-color);
  transition: opacity var(--normal-transition-duration) ease-in-out;
}

.left-start__link_gitlab {
  background: var(--eighth-color) url("../images/start/gitlab.svg") 33px 9px no-repeat;
}

.left-start__link_github {
  background: var(--black-color) url("../images/start/github.svg") 33px 9px no-repeat;
}

.left-start__link_bitbucket {
  background: var(--ninth-color) url("../images/start/bitbucket.svg") 33px 9px no-repeat;
}

.left-start__text {
  margin-bottom: .375rem;
  font-size: var(--text-size-huge);
  line-height: var(--seventh-lh);
  color: var(--second-color);
  text-align: center;
}

.left-start__prefix-box {
  text-align: center;
}

.left-start__prefix {
  padding: 0 1rem;
  font-size: var(--text-size-huge);
  line-height: var(--seventh-lh);
  color: var(--second-color);
  border-radius: var(--primary-br);
  background-color: var(--tenth-color);
}

.right-start__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 56px;
  padding: .75rem .75rem .75rem 3.6875rem;
  border-radius: var(--primary-br);
  background-color: var(--fourth-color);
}

.right-start__item:not(:last-child) {
  margin-bottom: .75rem;
}

.item-start__language {
  display: inline-block;
  font-size: var(--text-size-big);
  color: var(--second-color);
  line-height: var(--text-size-big);
}

.item-start__language::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 16px;
  display: inline-block;
  width: 27px;
  height: 27px;
}

.item-start__language_typescript::before {
  background: url("../images/start/typescript.svg");
}

.item-start__language_python::before {
  background: url("../images/start/python.svg");
}

.item-start__language_go::before {
  background: url("../images/start/go.svg");
}

.item-start__language_rust::before {
  background: url("../images/start/rust.svg");
}

.item-start__language_java::before {
  background: url("../images/start/java.svg");
}

.item-start__language_svelte::before {
  background: url("../images/start/svelte.svg");
}

.item-start__launch {
  display: inline-block;
  min-width: 143px;
  min-height: 32px;
  padding: .4375rem .75rem .5625rem;
  font-size: var(--text-size-small);
  line-height: var(--eighth-lh);
  color: var(--white-color);
  border-radius: var(--primary-br);
  background-color: var(--primary-color);
  transition-property: background-color, color;
  transition-duration: var(--normal-transition-duration);
  transition-timing-function: ease-in-out;
}

/*|EV| Describing CSS effects (such as - hover, active, focus)  */
.left-start__link:hover {
  opacity: .7;
}

.item-start__launch:hover {
  color: var(--primary-color);
  background-color: var(--tenth-color);
}

/*|=============== SITE FOOTER ===============|*/
.site-footer__top {
  background-color: var(--white-color);
}

.top-footer__container {
  min-height: 412px;
  padding: 3rem 14.3125rem 2rem;
}

.top-footer__panel {
  display: flex;
  justify-content: space-between;
  min-height: 275px;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--twelfth-color);
}

.panel-footer__item:not(:last-child) {
  margin-bottom: .5rem;
}

.panel-footer__title {
  font-size: var(--text-size-tiny);
  font-weight: var(--primary-font-weight);
  line-height: var(--primary-lh);
  color: var(--primary-color);
}

.panel-footer__link {
  font-size: var(--text-size-tiny);
  line-height: var(--primary-lh);
  color: var(--second-color);
  transition: color var(--normal-transition-duration) ease-in-out;
}

.panel-footer__link_careers {
  position: relative;
}

.panel-footer__link_careers::after {
  content: "*";
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: var(--text-size-min-huge);
  color: var(--fourteenth-color);
}

.top-footer__box {
  display: flex;
  justify-content: space-between;
}

.box-footer__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(100%, 176px);
}

.left-box__copy {
  font-size: var(--text-size-tiny);
  line-height: var(--primary-lh);
  color: var(--second-color);
}

.box-footer__list {
  display: flex;
  justify-content: space-between;
  width: min(100%, 104px);
  height: 24px;
}

.box-footer__link {
  display: inline-block;
  width: 24px;
  height: 24px;
  transition: opacity var(--normal-transition-duration) ease-in-out;
}

.box-footer__link_tw {
  background: url("../images/social/twitter.svg") 0 0 no-repeat;
}

.box-footer__link_gh {
  background: url("../images/social/github.svg") 0 0 no-repeat;
}

.box-footer__link_st {
  background: url("../images/social/sticker.svg") 0 0 no-repeat;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 48px;
}

.bottom-footer__cookies {
  line-height: var(--primary-lh);
  color: var(--second-color);
}

.cookies-footer__link {
  color: var(--third-color);
  text-decoration: underline;
}

.bottom-footer__btn {
  min-width: 163px;
  min-height: 32px;
  padding: .25rem 1.5rem;
  line-height: var(--primary-lh);
  color: var(--second-color);
  border-radius: var(--sixth-br);
  background-color: var(--fourth-color);
  transition-property: background-color, color;
  transition-duration: var(--normal-transition-duration);
  transition-timing-function: ease-in-out;
}

/*|EV| Describing CSS effects (such as - hover, active, focus)  */
.panel-footer__link:hover {
  color: var(--primary-color);
}

.box-footer__link:hover {
  opacity: .5;
}

.bottom-footer__btn:hover {
  color: var(--primary-color);
  background-color: var(--tenth-color);
}

/*|=============== SCROLL REVEAL  ===============|*/
html.sr .load-hidden {
  visibility: hidden;
}
